<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>
    {{> header}}
    <h1>This maze was brought to you by-</h1>
    <h2>Bashar Jaan Khan (2nd year CSE)</h2>
    <h2>Vandan Maheshwari (2nd year EEE)</h2>
    <h2>Shubham Shrivastava (2nd year CSE)</h2>
    {{> footer}}

  </body>
</html>
