<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Page</title>
  </head>
  <body>
    {{> header}}
    <h1>This maze was brought to you by-</h1>
    <h2>Bashar Jaan Khan</h2>
    <h3>CSE</h3>
    <h2>Shubham Shrivastava</h2>
    <h3>CSE</h3>
    {{> footer}}

  </body>
</html>
