<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    {{> header}}
    <p>{{screamIt welcomeMessage}}</p>
    <p><i>A true puzzle has no CSV ;)</i></p>

    <form method="GET" action="/">
      <label for="RollNo">RollNo</label>
      <input type="number" id="RollNo" name="RollNo" value="">

      <label for="Name">Name</label>
      <input type="text" id="Name" name="Name" value="">
      <br>
      <br>

      <label for="Q1">Q1</label>
      <input type="text" id="Q1" name="Q1" value="">
      <br>

      <label for="Q2">Q2</label>
      <input type="text" id="Q2" name="Q2" value="">
      <br>

      <label for="Q3">Q3</label>
      <input type="text" id="Q3" name="Q3" value="">
      <br>

      <label for="Q4">Q4</label>
      <input type="text" id="Q4" name="Q4" value="">
      <br>

      <label for="Q5">Q5</label>
      <input type="text" id="Q5" name="Q5" value="">
      <br>

      <label for="Q6">Q6</label>
      <input type="text" id="Q6" name="Q6" value="">
      <br>

      <label for="Q7">Q7</label>
      <input type="text" id="Q7" name="Q7" value="">
      <br>

      <label for="Q8">Q8</label>
      <input type="text" id="Q8" name="Q8" value="">
      <br>

      <label for="Q9">Q9</label>
      <input type="text" id="Q9" name="Q9" value="">
      <br>

      <input type="submit" value="Submit">

    </form>
    {{> footer}}

  </body>
</html>
